<nav
  style="
 z-index: 10
"
>
  <div
    style="
padding-left: 20px;
padding-top: 110px;
"
  >
    <div style="clear:both">
      <div [routerLink]="['/Euler']" class="TextAsButtonRoute">Knickung mit Euler</div>
    </div>

    <div [routerLink]="['/SchwerpunktVerschiebung']" class="TextAsButtonRoute">Auflagerkraft auf 4 Punkte</div>
    <div [routerLink]="['/VolumenGesamtSchwerpunkt']" class="TextAsButtonRoute">Schwerpunkt + Schräglagen</div>
  </div>


  <!--  <div style="clear:both">-->
  <!--    <div [routerLink]="['/Test']" class="TextAsButtonRoute">Test</div>-->
  <!--  </div>-->

  <br> <br>
</nav>
