<footer class="footer mt-auto"
        style="
padding-left: 10px;
">
  <p>Das ist eine private Webseite ohne kommerziellen Hintergrund.<br>
    Alle Angaben und Berechnungen sind ohne Gewähr. Die Seite befindet sich in der <b>Testphase!</b><br>
    Es werden keine Cookies oder Trackings verwendet.<br>
    Die Webseite ist in Javascript/HTML sowie mit dem Framework Angular & PHP Backend erstellt worden.<br>
    Fragen und Anmerkungen bitte unter: email(q)gross-engineering.eu<br>
    &copy; J. Groß, <b> {{ timestamp | date: 'dd.MMM.yy' }} </b>, Bremerhaven <br>
  </p>

</footer>
